html {
  padding-bottom: 50px;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-image: url(../images/fashion1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}

.noto-serif-display-bold {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-serif-display-normal {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  display: inline;
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  /* background-color: white; */
  border-radius: 6px;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

h2 {
  color: #000;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

button {
  font-size: 5rem;
}

.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.buttons button img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

#outfitContainer {
  background-color: white;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipeTitle {
  color: #e26e5c;
}

#outfitList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#outfitList li {
  margin-bottom: 10px;
  color: #555;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
}